*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
} 
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid, 
body textarea:required:valid {
	
}
body {
	font-family: 'Golos Text';
	font-size: 14px;
	line-height: 20px;
	background: #F9F9F9; 
	color: #08090E; 
	overflow-x: hidden; 
	margin: 0;
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
.logo {
	display: inline-block;
}
.logo img {
	width: 227px;
	height: auto;
}
.logo-descr {
	font-size: 18px;
	line-height: 28px;
	margin-top: 13px;
	margin-left: 58px;
	max-width: 580px;
}
.logo-descr span {
	text-transform: uppercase;
	display: block;
}
.logo-wrap {
	display: flex;
	align-items: center;
}
.header {
	padding-top: 18px;
}
.item-contact {
	margin-bottom: 16px;
	color: #000000;
	display: inline-flex;
	align-items: center;
}
.item-contact img {
	margin-right: 6px;
}
.phones-wrap {
	position: relative;
}
.phones-wrap .item-contact {
	font-size: 18px;
	line-height: 26px;
	color: #2D2D2D;
}
.item-contact__arrow {
	width: 24px;
	height: 24px;
	margin-left: 10px;
	display: inline-block;
	background-image: url(../img/ic_arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.btn-main {
	padding: 14px 20px;
	font-size: 14px;
	line-height: 17px;
	background-color: #EBD7AE;
	border-radius: 8px;
	color: #08090E;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 500;
	border: none;
	font-family: 'Golos Text';
	transition: all 0.3s;
}
.btn-main:hover {
	background-color: #e1c181;
}
.btn-main_page {
	background-color: #464646;
	color: #fff;
}
.btn-main_page:hover {
	background-color: #282424;
}
.header__right {
	padding-top: 18px;
	position: relative;
}
.header__right .btn-main {
	top: 20px;
	right: 0;
	position: absolute;
}
.menu {
	margin-top: 6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #EBD7AE;
	border-radius: 8px;
}
.menu > li > a {
	font-size: 14px;
	line-height: 17px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 500;
	color: #000000;
	padding: 18px 20px;
	position: relative;
	transition: all 0.3s;
}
.menu > li:hover > a,
.menu > li > a:hover {
	background-color: #faecd0;
}
.menu > li.menu__haschild > a {
	padding-right: 40px;
}
.menu > li.menu__haschild > a::after  {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	right: 10px;
	bottom: 0;
	margin: auto;
	width: 24px;
	height: 24px;
	display: inline-block;
	background-image: url(../img/ic_arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.title-section {
	font-size: 36px;
	line-height: 43px;
	font-weight: 600;
}
.billbord-block {
	padding: 30px 20px;
	padding-bottom: 38px;
	background: #FFFFFF;
	border-radius: 20px;
}
.slider-billbord__title {
	font-size: 30px;
	line-height: 36px;
	max-width: 900px;
	font-weight: 500;
}
.slider-billbord__image {
	height: 366px;
	margin-bottom: 34px;
	border-radius: 20px;
}
.slider-billbord__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 8px;
}
.progressBarContainer div span.progressBar {
	width: 100%;
	height: 2px;
	border-radius: 4px;
	background-color: rgba(8, 9, 14, 0.1);
	display: block;
}

.progressBarContainer div span.progressBar .inProgress {
	background-color: #08090E;
	width: 0%;
	height: 2px;
	border-radius: 4px;
}
.progressBarContainer {
	display: flex;
	margin: 0 -12px;
}
.progressBarContainer > div {
	width: 66px;
	margin: 0 12px;
}
.section-page {
	padding-top: 40px;
}
.slider-billbord {
	padding-bottom: 50px;
}
.slider-billbord .slick-dots {
	bottom: 0;
}
.slider-billbord .slick-dots li {
	width: 66px;
	height: 2px;
}
.slider-billbord .slick-dots button {
	width: 66px;
	height: 2px;
	padding: 0;
	margin: 0 2px;
	overflow: hidden;
	border: none;
	background-color: rgba(8, 9, 14, 0.1);
	list-style-type: none;
	position: relative;
	border-radius: 4px;
	font-size: 0;
}
.slider-billbord .slick-dots button span {
	position: absolute;
	width: 100%;
	display: block;
	height: 100%;
	background-color: #08090E;
	border-radius: 4px;
	left: 0;
	top: 0;
	transform: scaleX(0);
	transform-origin: left;
}
.slider-billbord .slick-dots button.filled span {
	transform: scaleX(1) !important;
}
.slick-arrow {
	width: 48px;
	bottom: 0;
	height: 48px;
	transform: none;
	background-color: #F9F9F9;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s;
}
.slick-arrow:hover {
	background-color: #ebebeb;
}
.slider-billbord .slick-prev {
	right: 56px;
}
.slider-billbord .slick-arrow {
	bottom: -25px;
}
.slick-prev {
	background-image: url(../img/ic_prev.svg);
}
.slick-next {
	background-image: url(../img/ic_next.svg);
}
.sidebar-announcement {
	padding: 20px 16px;
	background: #FFFFFF;
	border-radius: 20px;
	min-height: calc(100% - 69px);
}
.item-announcement {
	display: block;
	margin-bottom: 20px;
	padding-bottom: 11px;
	border-bottom: 1px solid rgba(8, 9, 14, 0.1);
}
.item-announcement:last-child {
	border: none;
	margin-bottom: 0;
}
.item-announcement__date {
	padding: 6px;
	font-size: 10px;
	line-height: 12px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 11px;
	color: #08090E;
	background: rgba(244, 220, 169, 0.2);
	border-radius: 4px;
	display: inline-block;
}
.item-announcement__text {
	font-size: 14px;
	line-height: 20px;
	transition: all 0.3s;
	color: #08090E;
	display: block;
}
.col_announcement .title-section {
	padding-bottom: 27px;
}
.link-block {
	padding: 14px;
	padding-right: 32px;
	font-size: 12px;
	line-height: 14px;
	background-color: #fff;
	border-radius: 10px;
	text-transform: uppercase;
	display: inline-block;
	color: rgba(8, 9, 14, 0.4);
	transition: all 0.3s;
	position: relative;
}
.link-block::after {
	position: absolute;
	display: block;
	content: " ";
	width: 14px;
	height: 14px;
	background-image: url(../img/arrow_link.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	transition: all 0.3s;
	right: 14px;
	top: 0;
	bottom: 0;
	opacity: 0.4;
	margin: auto;
	transition: all 0.3s;
}
.link-block:hover::after {
	opacity: 1;
}
.link-block:hover {
	color: rgba(8, 9, 14, 1);
}
.head-page {
	padding-bottom: 26px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.tabs {
	padding: 0 10px;
	margin-bottom: 12px;
	background: #FFFFFF;
	border-radius: 18px;
	display: inline-flex;
	text-align: center;
}
.tabs a {
	font-size: 16px;
	margin: 0 20px;
	transition: all 0.3s;
	color: rgba(8, 9, 14, 0.6);
	line-height: 19px;
	display: inline-block;
	padding: 24px 0;
	position: relative;
}
.tabs a::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 4px;
	left: 0;
	bottom: 0;
	background-color: #EBD7AE;
	border-radius: 3px;
	opacity: 0;
	transition: all 0.3s;
}
.tabs .active a::after {
	opacity: 1;
}
.tabs a:hover {
	color: rgba(8, 9, 14, 1);
}
.tabs .active a {
	color: rgba(8, 9, 14, 1);
	font-weight: 500;
}
.tab-container {
	padding: 22px;
	padding-right: 34px;
	background: #FFFFFF;
	border-radius: 10px;
}
.tab-container__image img {
	max-width: 100%;
	height: auto;
}
.title-middle {
	font-size: 30px;
	line-height: 36px;
	font-weight: 500;
}
.feature-market {
	font-size: 14px;
	line-height: 17px;
}
.feature-market {
	margin-bottom: 34px;
	display: flex;
	align-items: center;
}
.feature-market__icon {
	width: 30px;
	height: 30px;
	margin-right: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.feature-market__icon img {
	max-width: 100%;
	max-height: 100%;
}
.feature-market strong {
	font-weight: 600;
	display: block;
}
.feature-market sup {
	font-size: 8px;
	font-weight: 600;
}
.markets .title-middle {
	padding-bottom: 36px;
}
.markets .btn-main {
	margin-top: 42px;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.markets .title-section {
	padding-bottom: 27px;
}
.item-news {
	min-height: 100%;
	padding: 20px;
	background-color: #FFFFFF;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	transition: all 0.3s;
}
.item-news:hover {
	box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}
.item-news__text {
	padding-bottom: 14px;
	display: block;
	color: #08090E;
}
.item-news__date {
	display: block;
	color: rgba(8, 9, 14, 0.4);
	padding-top: 10px;
	margin-top: auto;
	border-top: 0.5px solid rgba(8, 9, 14, 0.1);
}
.news .title-section {
	padding-bottom: 23px;
}
.title-small {
	font-size: 24px;
	line-height: 29px;
	font-weight: 500;
}
.consult-block .title-small {
	padding-bottom: 16px;
}
.consult-block {
	padding: 28px 41px;
	padding-bottom: 35px;
	padding-right: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #FFFFFF;
	border-radius: 8px;
}
.footer {
	padding-top: 17px;
	margin-top: 40px;
	background-color: #fff;
}
.footer__title {
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 16px;
	font-weight: 500;
}
.footer__list li {
	margin-bottom: 16px;
}
.footer__list li a {
	color: #08090E;
	border-bottom: 1px solid transparent;
	display: inline-block;
	transition: all 0.3s;
}
.footer__list li a:hover {
	border-color: #08090E;
}
.footer__bottom {
	padding: 19px 0;
	margin-top: 20px;
	font-size: 12px;
	line-height: 14px;
	border-top: 0.5px solid rgba(8, 9, 14, 0.1);
}
.copyright {
	text-align: right;
}
.copyright a {
	font-weight: 600;
}
.footer__bottom a {
	color: #08090E;
}
.footer__center {
	text-align: center;
}
.footer__center a {
	margin: 0 15px;
}
.footer__center a:first-child {
	margin-left: 0;
}
.footer__center a:last-child {
	margin-right: 0;
}
.dropdown-phones {
	top: 100%;
	left: 0;
	margin-top: -10px;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 40px;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	z-index: 3;
	transition: all 0.3s;
}
.phones-wrap:hover .dropdown-phones {
	visibility: visible;
	opacity: 1;
}
.list-social {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.list-social li {
	margin-right: 30px;
}
.list-social li:last-child {
	margin-right: 0;
}
.list-social li a {
	display: inline-block;
	transition: all 0.3s;
}
.footer .list-social {
	margin-top: 35px;
}
.phones-wrap .dropdown-phones .item-contact  {
	margin-bottom: 10px;
}
.menu li {
	position: relative;
}
.menu > li:first-child > a {
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
}
.menu > li:last-child > a {
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
}
.menu ul {
	padding: 5px 0;
	top: 100%;
	width: 100%;
	min-width: 180px;
	left: 0;
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	z-index: 3;
	transition: all 0.3s;
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
.menu ul a {
	padding: 7px 15px;
	border-bottom: 1px solid transparent;
	display: block;
	transition: all 0.3s;
	color: #08090E;
}
.menu ul a:hover {
	background-color: rgba(0, 0, 0, 0.05);
}
.menu li:hover ul {
	visibility: visible;
	opacity: 1;
}
.footer__title_mobile {
	display: none;
}
.footer__title i {
	display: none;
}
/*Style Sandwich*/
.btn_nav {
	border: none;
	z-index: 60;
	display: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
	position: relative;
}
.btn_nav:hover {
	opacity: 1;
} 
.sandwich span {
	display: block;
}
.sandwich {
	width: 30px;
	height:28px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #EBD7AE;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 10px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #EBD7AE;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 17px;
	width: 29px;
	height: 2px;
	display: block;
	background-color: #EBD7AE;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 12px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
} 
.sandwich.active .sw-footer {
	top:8px;
	width: 30px;
	transform: rotate(-45deg);
}
 
/*End Sandwich*/


.breadcumbs {
	margin-top: 28px;
	margin-bottom: 12px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	line-height: 18px;
	color: #2D2D2D;
}
.breadcumbs span,
.breadcumbs a {
	color: rgba(45, 45, 45, 0.4);
	transition: all 0.3s;
}
.breadcumbs span {
	margin: 0 10px;
	position: relative;
	top: -1px;
}
.breadcumbs a:hover {
	color: rgba(45, 45, 45, 1);
}
.market-main {
	padding: 29px 32px;
	background-color: #FFFFFF;
	border-radius: 20px;
	margin-bottom: 20px;
}
.market-main__head {
	font-size: 16px;
	line-height: 19px;
	padding-bottom: 23px;
	border-bottom: 0.5px solid rgba(8, 9, 14, 0.1);
	font-weight: 500;
}
.market__image img {
	max-width: 100%;
	height: auto;
}
.market {
	margin-right: -20px;
	display: inline-block;
	position: relative;
}
.tab-market-wrap {
	display: flex;
	align-items: flex-end;
}
.tabs-market {
	padding: 14px;
	line-height: 26px;
	background: #FFFFFF;
	margin-left: -12px;
	margin-bottom: 80px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	text-align: center;
	flex: none;
}
.tabs-market a {
	color: #08090E;
	opacity: 0.4;
	transition: all 0.3s;
}
.tabs-market a:hover,
.tabs-market li.active a {
	opacity: 1;
}
.tabs-market a span {
	font-size: 18px;
}
.tabs-market li {
	padding-bottom: 12px;
	margin-bottom: 12px;
	position: relative;
}
.tabs-market li::after {
	position: absolute;
	display: block;
	content: " ";
	width: 15px;
	height: 0.5px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: rgba(8, 9, 14, 0.1);
}
.tabs-market li:last-child {
	padding: 0;
	margin: 0;
}
.tabs-market li:last-child::after {
	display: none;
}
.market-item {
	cursor: pointer;
	position: absolute;
}
.market-item img {
	opacity: 0;
}
.market-item__name {
	line-height: 17px;
	padding-bottom: 20px;
}
.market-item__feature {
	font-size: 12px;
line-height: 14px;
margin-bottom: 15px;
color: #000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 170px;
}
.market-item__feature strong {
	font-weight: 600;
}
.market-popup {
	padding: 19px 23px;
	padding-bottom: 9px;
	width: 315px;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%) translateY(-50%);
	background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
border-radius: 8px;
cursor: initial;
position: absolute;
display: none;
}
.market-popup__close {
	height: 20px;
	width: 20px;
	top: 13px;
	right: 12px;
	cursor: pointer;
	background-image: url(../img/ic_close.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	position: absolute;
}
.market-item_1 {
	right: 320px;
	bottom: 100px;
}
.market-item_2 {
	right: 584px;
	bottom: 100px;
}
.market-item_2_1 {
	right: 564px;
	bottom: 100px;
}
.market-item_3 {
	left: 64px;
	bottom: 254px;
}
.market-item_4 {
	top: 222px;
	left: 213px;
}
.market-item_5 {
	top: 85px;
	left: 203px;
}
.market-item_6 {
	top: 276px;
	left: 339px;
}
.market-item_7 {
	bottom: 183px;
	left: 179px;
}
.market-item_8 {
	bottom: 141px;
	left: 50px;
}
.market-item_9 {
	left: 51px;	
	bottom: 199px;
}
.market-item_10 {
	right: 346px;
	bottom: 234px;
}
.tab-pane-market {
	display: none;
}
.tab-pane-market:first-child {
	display: block;
}
.market-main__info {
	padding: 10px 14px;
	padding-left: 38px;
	max-width: 384px;
	font-size: 15px;
	line-height: 20px;
	background-color: #F9F9F9;
border-radius: 10px;
top: 86px;
right: 33px;
position: absolute;
}
.market-main__info::before {
	position: absolute;
	display: block;
	content: " ";
	width: 18px;
	height: 18px;
	top: 10px;
	left: 14px;
	background-image: url(../img/ic_info.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.market-main__info span {
	font-weight: 500;
	font-size: 14px;
}
.market-page .title-section {
	padding-bottom: 40px;
}
.sidebar-page {
	padding: 20px;
	background-color: #FFFFFF;
border-radius: 20px;
}
.sidebar-page__title {
	font-size: 18px;
line-height: 22px;
font-weight: 500;
}
.sidebar-page li {
	margin-top: 30px;
}
.sidebar-page li a {
	font-size: 16px;
line-height: 19px;
color: rgba(8, 9, 14, 0.6);
transition: all 0.3s;
position: relative;
display: inline-block;
}
.sidebar-page li a::before {
	position: absolute;
	display: block;
	content: " ";
	left: -20px;
	height: 34px;
	width: 4px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: #EBD7AE;
	border-radius: 4px;
	opacity: 0;
	transform: all 0.3s;
}
.sidebar-page li.active a {
	color: rgba(8, 9, 14, 1);
	font-weight: 500;
}
.sidebar-page li a:hover {
		color: rgba(8, 9, 14, 1);
}
.sidebar-page li.active a::before {
	opacity: 1;
}
.feature-scheme {
	margin-top: 22px;
	display: flex;
	align-items: center;
}
.feature-scheme__icon {
	width: 32px;
	margin-right: 10px;
	flex: none;
}
.feature-scheme__icon img {
	max-width: 100%;
}
.market-main .feature-market {
	margin-top: 24px;
	margin-bottom: 0;
}
.market-main_info {
	line-height: 17px;
}
.market-main_info p {
	margin-bottom: 15px;
}
.market-main_info .market-main__head {
	margin-bottom: 25px;
}
.market-main__flex {
	display: flex;
	justify-content: space-between;
}
.conusult-phone .item-contact {
	font-size: 18px;
	white-space: nowrap;
	margin: 0;
}
.conusult-phone p {
	opacity: 0.4;
}
#map-market {
	width: 100%;
	height: 400px;
	border-radius: 15px;
	overflow: hidden;
	display: none;
}
.market-map__image {
	height: 97px;
}
.market-map__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 8px;
}
.market-map {
	position: relative;
}
.btn-block {
	font-size: 14px;
color: #08090E;
	line-height: 17px;
	padding: 14px 20px;
	background-color: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
border-radius: 60px;
font-weight: 500;
transition: all 0.3s;
}
.btn-block:hover {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
}
.market-map__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.text-main {
	padding: 20px;
	line-height: 24px;
	padding-bottom: 2px;
	background-color: #FFFFFF;
border-radius: 20px;
}
.text-main p {
	margin-bottom: 20px;
}
.text-main li {
	padding-left: 32px;
	margin-bottom: 20px;
	position: relative;
}
.text-main li::before {
	position: absolute;
	display: block;
	content: " ";
	width: 10px;
	height: 10px;
	border: 2px solid #EBD7AE;
	border-radius: 50%;
	top: 7px;
	left: 8px;
}
.article .title-section {
	padding-bottom: 40px;
}